@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");


body {
    font-family: forum;
    color: black;
    font-size: 18px;
    background-color: rgb(235, 214, 182) !important;
  }

  /* navbar */
.navbar {
  background-color: rgb(242, 204, 155);
}

.btn {
  background-color: rgb(242, 204, 155);
  color: black;
  border: none;
}

.btn:hover {
  background-color: rgb(242, 204, 155);
  color: black;
  border: none;
}

/* homepage */
#homepage {
    text-align: center;
    font-size: 30px;
}

.card {
  text-align: center; 
  background-color: rgb(235, 214, 182);
}

#prizes {
  font-weight: 400;
}

/* footer */
footer {
  margin-top: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 105px;
  text-align: center;
  background-color: rgb(235, 214, 182);
}

/* social media links */
.socials {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}

.socials > li {
  display: inline;
}

.socials i {
  font-size: 160%;
  margin: 5px;
  padding-top: 10px;
  color: rgb(81, 46, 16);
  text-align: center;
}


/* add_photo.html */ 
h3 {
  text-align: center;
}

.card-img-top {
  min-height: 200px;
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  max-height: 25vh;
}

/* #select_image {
  text-align: center;
  padding-top: 30px;
} */

button {
  border-radius: 25px;
}

/* add_dog.html */
.center {
  position: relative;
  padding-top: 100px;
}
