{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container text-center mt-5">
    <div class="row">
        <div class="col-12">
            <h4>Vote for the pup you think should win "Cutest Pup of the Month"!</h4>
            <p id="vote-p"> 
                To vote for your favourite picture of the cutest dog for each month,
                all you have to do is click the heart to like the image.
                <br>
                The picture with the most hearts at the end of each month will win our doggy hamper!
                <br/>
                Good Luck ! 
            </p>
        </div>
    </div>
    
    <!-- regroup competition entries by their group/month -->
    {% regroup photos by competition as photos_list %}
    {% for competition in photos_list %}
        <!-- display the competition title/month -->
        <div class="row mt-5">
            <div class="col-12">
                <h2>Competition:<br>{{ competition.grouper }}</h2>
                <p>
                    These are the photos that have been entered into the <strong>{{ competition.grouper }}</strong> contest.
                </p>
            </div>
        </div>

        <!-- loop through the competition photos for this month/group -->
        <div class="row">
            {% for photo in competition.list|dictsort:"dog.name" %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-bg my-3">
                    <img src="{{ photo.image.url }}" alt="{{ photo.dog.name }}" class="img-fluid card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Vote for <strong>{{ photo.dog.name }}</strong></h5>
                        <p class="card-text">
                            {% if user.is_authenticated %}
                                <i class="fa-regular fa-user"></i>: {{ photo.dog.owner }}
                                <br>
                                <i class="fa-solid fa-paw"></i>: {{ photo.dog.breed }}
                                <br>
                                <i class="fa-regular fa-calendar-days"></i>: {{ photo.dog.dob }}
                            {% endif %}
                        </p>
                        <span class="text-secondary">{{ photo.number_of_likes }} </span>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="card-footer text-body-secondary">
                            <!-- edit / delete only for the authorised user of this dog photo -->
                            {% if user == photo.dog.owner %}
                                <a href="{% url 'edit_photo' photo.id %}" class="btn btn-outline-secondary btn-sm" role="button">Update</a>
                                <a href="#" class="btn btn-outline-danger btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#modal-delete-{{photo.id}}">Delete</a>
                                <!-- delete photo modal -->
                                <div class="modal fade" id="modal-delete-{{photo.id}}" tabindex="-1" aria-labelledby="modal-delete-{{photo.id}}-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="modal-delete-{{photo.id}}-label">Delete Photo</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this photo?
                                                <br>
                                                <small>This action is permanent and cannot be undone.</small>
                                                <br>
                                                <img src="{{ photo.image.url }}" alt="{{ photo.dog.name }}" class="img-fluid">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                                                <a href="{% url 'delete_photo' photo.id %}" role="button" class="btn btn-danger">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <!-- not the dog owner, but can still like the photo -->
                                <form action="{% url 'photo_like' photo.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{photo.id}}" class="btn-like"><i class="fa-solid fa-heart"></i></button>
                                    {% else %}
                                        <button type="submit" name="blogpost_id" value="{{photo.id}}" class="btn-like"><i class="fa-regular fa-heart"></i></button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    
    {% endfor %}

</div>

<div class="container text-center winners-p mt-5">
    <div class="row">
        <div class="col-12">
            Winners will be announced and contacted on the last day of each month!
            <br>
            Good Luck!
        </div>
    </div>
</div>
    
{% endblock %}