{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- 
<br/>
<div class="container text-center">
<img src="{{ photo.image.url }}" alt="{{ photo.dog.name }}" class="img-fluid">
</div>
<br/> -->
<div class="container text-center">
    <h4>Vote for the pup you think should win cutest pup of the month!</h4>
    
    <div class="row">
        {% for photo in photos %}
        <div class="col-12 col-md-6 col-lg-4 card">
            <img src="{{ photo.image.url }}" alt="{{ photo.dog.name }}" class="img-fluid card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ photo.dog.name }}</h5>
                <p class="card-text">
                    Vote for {{ photo.dog.name }}
                </p>
                {% if user.is_authenticated %}
                    <form action="{% url 'photo_like' photo.id %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{photo.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
                        {% else %}
                            <button type="submit" name="blogpost_id" value="{{photo.id}}" class="btn-like"><i class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    <td>
                        <a href="{% url 'edit_photo' photo.id %}">
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_photo' photo.id %}">
                            <button>Delete</button>
                        </a>
                    </td>
                {% else %}
                    <small>You must log in to vote in the competition!</small>
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ photo.number_of_likes }} </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <p> 
        To vote for your favourite picture of the cutest dog for the month of November,
        all you have to do is click the heart to like the image and the picture with the 
        most hearts at the end of the month will win our doggy hamper!
        <br/>
        Good Luck ! 
    </p>

</div>

<div class="container text-left">
    <p>
        Winners will be announced and contacted on the last day of the month!
        Good Luck! 
    </p>
</div>
    
{% endblock %}