{% extends 'base.html' %}

{% block content %}

            <div class="card card-body" style="text-align: center; background-color: rgb(235, 214, 182);">
                <h2> What is Dogstagram?</h2>
                <br>
                <br>
                <p id="welcome">
                    We are a competition based website, where you can enter your
                    furry canines each month in the chance to win one of three
                    amazing prizes!
                    <br>
                    Here at Dogstagram we want to promote love and wellbeing for these loving animals.
                    All prizes that are won in the compeition for donated and provided by other companies
                    that love these furry pets that are like our family!
                </p>
                <br>
                <p>
                    November prizes:
                    1st place : Seasonal photoshoot
                    2nd place : Grooming service
                    3rd place : €20 gift voucher for ecopup petstore
                </p>
                <br>
                
                <div class="container">
                    <h3>Coming 2024</h3>
                    <p>
                        January 2024 we will be bringing to you a place where you and your dog
                        can meet up with other members of Dogstagram in a safe, fun enviroment. 
                        There will be dates posted once a month where we will all join together,
                        create friendships and enjoy some company over coffee, tea and snacks.
                    </p>
                </div>
            </div>





                <!-- <p id="welcome"> <h4> What is Dogstagram?</h4>  
                    We are a competition website where you can enter 
                    pictures of your furry canines each month in the 
                    chance to win one of three amazing prizes!
                </p>

                <h3 style="text-align: center;">About Us</h3>
                <p style="text-align: center;">Here at Dogstagram we want to promote love and wellbeing for these loving animals.
                    All prizes that are won in the compeition for donated and provided by other companies
                    that love these furry pets that are like our family!
                    <br>
                    We aim for the monthly competitions to be fun for both you and your dog to enter
                    in monthly. 
                </p>
                <br>
                <h3 style="text-align: left;">Coming 2024</h3>
                <p style="text-align: left;">
                    January 2024 we will be bringing to you a place where you and your dog
                    can meet up with other members of Dogstagram in a safe, fun enviroment. 
                    There will be dates posted once a month where we will all join together,
                    create friendships and enjoy some company over coffee, tea and snacks.
                </p>
            </div> -->

{% endblock %}

