{% extends 'base.html' %}

{% block content %}

    <br/>
    <h4 id="homepage">Welcome to Dogstagram</h4>

    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="text-align: center;">
                <p id="welcome"> <h4> What is Dogstagram?</h4>  
                    We are a competition website where you can enter 
                    pictures of your furry canines each month in the 
                    chance to win one of three amazing prizes!
                </p>
                <div class="container text-center">
                    <h3> Octobers Winners! </h3>
                        <img src="media/images/octoberpup.jpg" alt="">
                        <img src="media/images/batdog.jpeg" alt="">
                <a href="/competition" class="btn-floating competition-btn">Competition</a>

                <h3 style="text-align: center;">About Us</h3>
                <p style="text-align: center;">Here at Dogstagram we want to promote love and wellbeing for these loving animals.
                    All prizes that are won in the compeition for donated and provided by other companies
                    that love these furry pets that are like our family!
                    <br>
                    We aim for the monthly competitions to be fun for both you and your dog to enter
                    in monthly. 
                </p>
                <br>
                <h3 style="text-align: left;">Coming 2024</h3>
                <p style="text-align: left;">
                    January 2024 we will be bringing to you a place where you and your dog
                    can meet up with other members of Dogstagram in a safe, fun enviroment. 
                    There will be dates posted once a month where we will all join together,
                    create friendships and enjoy some company over coffee, tea and snacks.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

