{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h2> Welcome to Dogstagram!</h2>
        <br>
        <br>
        <p id="welcome">
            We are a competition based website, where you can enter your
            furry canines each month in the chance to win one of three
            amazing prizes!
            <br>
            Here at Dogstagram we want to promote love and wellbeing for these loving animals.
            All prizes that are won in the compeition for donated and provided by other companies
            that love these furry pets that are like our family!
        </p>
        <br>
        <h2 class="novemberprizes">
            November prizes:
        </h2>
        <div class="container">
            <p id="prizes">
                1st place : Seasonal photoshoot - curtesy of Urban Pets Photography.
            </p>
            <p id="prizes">
                2nd place : Grooming service - curtesy of Muts Cuts.
            </p>
            <p id="prizes">
                3rd place : €20 gift voucher for - Ecopup Petstore.
            </p>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="container">
            <h3>Coming 2024</h3>
            <p>
                January 2024 we will be bringing to you a place where you and your dog
                can meet up with other members of Dogstagram in a safe, fun enviroment.
                There will be dates posted once a month where we will all join together,
                create friendships and enjoy some company over coffee, tea and snacks.
            </p>
        </div>
    </div>
</div>
{% endblock %}